* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

#Rocket {
  animation: moveUp 10s linear infinite alternate-reverse;
}

@keyframes moveUp {
  0% {
    transform: translateY(20px);
  }
  20% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-60px);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

path#Vector_7 {
  animation: rotate 30s linear infinite alternate-reverse;
  transform-origin: center;
  transform-box: fill-box;
  background: #77a1d3;
  background: -webkit-linear-gradient(to right, #e684ae, #79cbca, #77a1d3);
  background: linear-gradient(to right, #e684ae, #79cbca, #77a1d3);
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

path#Vector_11 {
  animation: blow 15s linear infinite alternate-reverse;
}

@keyframes blow {
  from {
    transform: scale(1.3);
    transform: scale(1.5);
    transform: scale(2);
    transform: scale(3);
    transform: scale(4);
  }
  to {
    visibility: hidden;
  }
}
